name: Tests

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'docs/**'

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      
      - run: go mod download
      
      - run: go build -v .
      
      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest

  test:
    name: Unit Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      
      - run: go mod download
      
      - run: go test -v -cover -timeout=5m ./...
      
  # Terraform Provider specific tests
  terraform-provider-check:
    name: Terraform Provider Checks
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      
      - name: Install terraform-plugin-docs
        run: go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest
      
      - name: Validate documentation
        run: |
          tfplugindocs validate
      
      - name: Check go mod tidy
        run: |
          go mod tidy
          git diff --exit-code -- go.mod go.sum || \
          (echo "go.mod or go.sum differs after 'go mod tidy'; please run 'go mod tidy' and commit the changes" && exit 1)
